@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400&subset=latin-ext');
// @import url('https://fonts.googleapis.com/css?family=Oswald');
// @import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
//@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100');

$main-font: 'Quicksand', sans-serif;
$header-font: 'Open Sans Condensed', sans-serif;
//$main-font: 'Alegreya Sans', sans-serif;

$rich-black: #0a0d1d;
$ghost-white: #f7fbfc;
$gray: #bbbbbb;
$funky-magenta: #f71559;
$bg-avg: #161816;
$funky-purple: #3a243b;

$ease-in-out: cubic-bezier(.42, 0, .58, 1);

body {
  background-color: $bg-avg;
  background-image: url('/img/bg_small.jpg');
  color: $ghost-white;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

@media only screen and (min-width: 320px) {
  body,
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 480px) {
  body,
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  body,
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  body,
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  body,
  html {
    font-size: 18px;
  }
}

td {
  padding: .2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-weight: 100;
  margin: 1rem 0;
}

h6 {
  font-size: 1rem;
}

h5 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.75rem;
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 2.25rem;
}

a {
  color: $funky-magenta;
  text-decoration: none;
  transition: color 420ms $ease-in-out;

  &:hover {
    color: $ghost-white;
  }
}

::selection {
  background: $funky-magenta;
}

.header {
  margin: 4rem auto 2rem;
  padding: 0 1rem;
  height: 200px;
  max-width: 58rem; /* magic */
}

.main-content {
  margin: 0 auto;
  max-width: 60rem;
}

.column {
  width: 28rem;
  margin: 0 0 4rem;
  padding: 0 1rem;
  float: left;
}

@media only screen and (max-width: 1000px) {
  .column {
    width: 20rem;
  }
}

//toggle

.exam-results {
  display: none;
}

.show-exam-results {
  display: none;
}

.show-exam-results:checked ~ .exam-results {
  display: block;
}

label::before {@media only screen and (max-width: 1000px) {
  .column {
    width: 20rem;
  }
}
  content: 'Show';
}

.show-exam-results:checked + label::before {
  content: 'Hide';
}

label {
  bottom: 0;
  display: block;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  margin: 1rem 0;
}

.portrait {
  border-radius: 50%;
  height: 200px;
  float: left;
}

.title {
  left: 2rem;
  height: 125px;
  width: 10rem;
  vertical-align: middle;
  float: left;
  position: relative;
  margin: 0;
  padding-top: 75px;
}

@media only screen and (max-width: 768px) {
  .header {
    height: 100px;
  }

  .portrait {
    height: 100px;
  }

  .title {
    height: 63px;
    padding-top: 37px;
  }
}

// tooltip

span.tooltip {
  outline: none;
  padding-right: 0.4rem;

  strong {
    line-height: 30px;
  }

  span {
    z-index: 10;
    opacity: 0;
    position: absolute;
    display: inline;
    padding: 0.3rem 0.6rem;
    margin: -0.2rem 0 0 0.3rem;
  }

  &:hover {
    text-decoration: none;

    span {
      font-size: 0.8rem;
      color: $ghost-white;
      border: 1px solid $bg-avg;
      background-color: $funky-purple;
      border-radius: 4px;
      box-shadow: 0.2rem 0.2rem 0.4rem $bg-avg;

      opacity: 0.98;
      transition: opacity 420ms $ease-in-out;
    }
  }
}

// anchor

.anchor {
  .section {
      position: absolute;
      margin: 0 0 0 -1rem;
      opacity: 0;

      &:hover {
        color: $funky-magenta;
        opacity: 0.9;
        transition: opacity 420ms $ease-in-out;
      }
  }
}
