// Hello

@import url('https://fonts.googleapis.com/css?family=Quicksand');

$main-font: 'Quicksand', sans-serif;

$rich-black: #0B0E1E;
$ghost-white: #F7FBFC;

body {
  font-family: $main-font;
  color: $rich-black;
  background-color: $ghost-white;
}

.main-content {
  width: 62vw;
  margin: 9vw auto;
}
