include pug/mixin/anchor.pug
include pug/mixin/tooltip.pug

doctype html
html(lang='en')
  head
    include pug/head.pug
  body
    .header
      include pug/body-header.pug
    .main-content
      include pug/body-content.pug
