@import 'vendor/normalize8.0.0';

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

$main-font: 'Quicksand', sans-serif;
$heading-font: 'Open Sans Condensed', sans-serif;

$rich-black: #0a0d1d;
$bg-avg: #161816;
$gray: #bbbbbb;
$ghost-white: #f7fbfc;

$funky-magenta: #f71559;
$funky-purple: #3a243b;
$dark-funky-purple: #1b091c;

$ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
$fast-transition: 250ms $ease-in-out;

$padding-basic: 1rem;
$spacing-basic: 4rem;

$column-width: 20rem;
$column-count: 2;
$content-width: ($column-count * $column-width) +
  ($column-count * $padding-basic * 2);

body {
  background-color: $bg-avg;
  background-image: url('/img/bg_small.jpg');
  color: $ghost-white;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  backdrop-filter: blur(10px);
}

@media only screen and (min-width: 320px) {
  body,
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 480px) {
  body,
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  body,
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  body,
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  body,
  html {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 200;
  margin: 1rem 0 0.4rem;
}

h6 {
  font-size: 0.75rem;
}

h5 {
  font-size: 1rem;
}

h4 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.75rem;
}

h1 {
  font-size: 2rem;
}

a {
  color: $funky-magenta;
  text-decoration: none;
  transition: color $fast-transition;
  font-weight: 400;

  &:hover {
    color: $ghost-white;
  }
}

td {
  padding: 0.2rem;
}

ul {
  list-style-type: circle;
  margin: 0.618rem 0 1rem;
}

::selection {
  background: $funky-magenta;
}

.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  padding-bottom: $spacing-basic;

  .header {
    height: 200px;
    padding: $spacing-basic $padding-basic 2rem;

    .portrait {
      margin: 0;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      float: left;
    }
    
    .title {
      left: 2rem;
      height: 125px;
      width: 10rem;
      vertical-align: middle;
      float: left;
      position: relative;
      margin: 0;
      padding-top: 75px;
    }
  }
  
  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $spacing-basic;

    .column {
      margin: 0;
      padding: 0 $padding-basic;

      @media only screen and (max-width: 1000px) {
        & {
          width: 20rem;
          margin: 0;
        }
      }
    }
  }
}

// toggle

.toggle-content {
  display: none;
}

.show-toggle-content {
  display: none;
}

.show-toggle-content:checked ~ .toggle-content {
  display: block;
}

label::before {
  @media only screen and (max-width: 1000px) {
    .column {
      width: 20rem;
    }
  }
  content: 'Show';
}

.show-toggle-content:checked + label::before {
  content: 'Hide';
}

label {
  bottom: 0;
  display: block;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  margin: 1rem 0;
}

// tooltip

span.tooltip {
  outline: none;
  padding-right: 0.4rem;

  span {
    z-index: 10;
    opacity: 0;
    position: absolute;
    display: inline;
    padding: 0.3rem 0.6rem;
    margin: -0.2rem 0 0 0.3rem;
    max-width: 20rem;

    font-size: 0.8rem;
    color: $ghost-white;
    border: 1px solid $rich-black;
    border-radius: 4px;
    background-color: $dark-funky-purple;
    box-shadow: 0.2rem 0.2rem 0.4rem $rich-black;
    transition: opacity $fast-transition;
  }

  &:hover {
    text-decoration: none;

    span {
      opacity: 0.98;
    }
  }
}

// anchor

.anchor {
  .section {
    position: absolute;
    margin: 0 0 0 -1rem;
    opacity: 0;

    &:hover {
      color: $funky-magenta;
      opacity: 0.9;
      transition: opacity $fast-transition;
    }
  }
}

// mobile

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 100vw;
    overflow: hidden;
    margin: 0 1rem;
    padding-bottom: 4rem;
    font-weight: 400;

    .header {
      height: 100px;

      .portrait {
        height: 100px;
        width: 100px;
      }

      .title {
        height: 63px;
        padding-top: 37px;
      }
    }

    .main-content {
      grid-template-columns: 1fr;
    }

    span.tooltip span {
      display: none;
    }
  }
}

/*
  Print & PDF export support
*/

$print-text-color: #000;
$print-bg-color: #fff;

.print-only {
  display: none;
}

@media print {
  body {
    background-color: $print-bg-color;
    background-image: none;
    color: $print-text-color;
    font-weight: 400;
    font-size: 12px;
  }

  a {
    color: $print-text-color !important;
    text-decoration: underline;

    &:hover {
      color: $print-text-color;
    }

    // note: should be useful if other links are added
    // &:after {
    //   content: "- "attr(href);
    // }
  }

  .wrapper {
    .header {
      height: 150px;

      .portrait {
        height: 150px;
      }

      .title {
        height: 95px;
        padding-top: 55px;
      }
    }

    .column {
      width: 22rem;
      margin: 0;
      padding: 0 $padding-basic;
      float: left;
    }
  }

  span.tooltip {
    outline: none;
    padding: initial;

    span {
      display: block;
      padding: 0;
      margin: 0.1rem 0 0.4rem;

      font-size: 0.7rem;
      color: $print-text-color;
      background-color: $print-bg-color;

      // reset
      z-index: initial;
      opacity: initial;
      position: initial;
      border: none;
      box-shadow: none;
      transition: none;
    }
  }

  .anchor .section {
    display: none;
  }

  .print-only {
    display: initial;
  }

  li.print-only {
    display: list-item;
  }
}
