.column
  +anchor('Experience')
  include section/experience.pug
  
  +anchor('Libraries')
  include section/libraries.pug
  
  +anchor('Education')
    | Education
  include section/education.pug
  
  +anchor('Contact')
  include section/contact.pug

.column
  +anchor('Skills')
  include section/skills.pug
    
  +anchor('Languages')
  include section/languages.pug
    
  +anchor('Work')   
  include section/work.pug