.column
  h2
    +anchor('skills')
    | Skills
  include section/skills.pug
    
  h2
    +anchor('languages')
    | Languages
  include section/languages.pug
    
  h2 Work        
  include section/work.pug
        
.column
  h2
    +anchor('experience')
    | Experience
  include section/experience.pug
  
  h2
    +anchor('libraries-and-frameworks')
    | Libraries and Frameworks
  include section/libraries.pug
  
  h2
    +anchor('education')
    | Education
  include section/education.pug
  
  h4
    +anchor('exit-exam-results')
    | Exit Exam Results
  include section/exam-results.pug
  
  h2 
    +anchor('contact')
    | Contact
  include section/contact.pug
