meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='revised', content=revised)
meta(name='revision', content=revision)
meta(name='revisit-after', content='30 days')
meta(name='subject', content='Mice P치pai - Software Engineer - CV / Resume')
meta(name='author', content='Mice Istv치n P치pai, ' + email)
meta(name='reply-to', content=email)

//- TODO: add generated open graph tags

title Mice P치pai - Software Engineer

include partial/favicons.pug
include partial/includes.pug
