meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='revised', content=revised)
meta(name='revision', content=revision)
meta(name='revisit-after', content='30 days')
meta(name='subject', content='Mice Pápai - Software Engineer - CV / Resume')
meta(name='author', content='Mice Pápai, ' + email)
meta(name='reply-to', content=email)

//- TODO: add generated open graph tags

title Mice Pápai - Software Developer

include partial/favicons.pug
//- include partial/includes.pug
