mixin job(title, short_description, id)
  span.job= title
    span= short_description
    //- input.show-toggle-content(type='checkbox', id!=id)
    //- label(for!=id)
    //- div.toggle-content
    //-   block
