div
  | "Crypto Wallet"
  | - Vacuumlabs & IOHK
  | - Frontend Developer (2019-2021)
  | Developed a brand-new desktop wallet using web technologies for a cryptocurrency startup in a fully remote, international setting.
  | - Typescript, React, Electron, Storybook, Web3.js
  | Responsibilities:
  | - Development of essential wallet functionality (e.g. tx history)
  | - Collaboration with designers and testers to improve UX
  | - Working closely with Scala backend developers
  | - Outlining new features, participation in product development
  | - Writing automated tests (unit / component-level)
  | - Code reviews and mentoring 
  | What I've learned
  | - Working effectively in an international team with large time-zone differences between members
  | - Interviewing new candidates
  | - Using Typescript in a strictly functional style (e.g. no mutation, no loops)
  | - Working with cryptocurrency technologies, smart contracts