p
  a(href='tel:+36706325138')
    +tooltip('Phone')
      | +36 70 632 51 38
  br
  a(href='https://t.me/knockoutMice', target='_blank')
    +tooltip('Telegram')
      | knockoutMice
  br
  a(href='mailto:qwhexz@gmail.com')
    +tooltip('Email')
      | qwhexz@gmail.com
