ul
  li
    a(href='mailto:qwhexz@gmail.com')
      +tooltip('Email')
        | qwhexz@gmail.com
  li
    a(href='https://t.me/knockoutMice', target='_blank')
      +tooltip('Telegram')
        | knockoutMice
  li 
    a(href='https://www.linkedin.com/in/mice-pápai/')
      +tooltip('LinkedIn')
        | linkedin.com/in/mice-pápai/
  li
    a(href='https://github.com/qwhex/')
      +tooltip('GitHub')
        | github.com/qwhex

  li(class='print-only')
    a(href='https://qwhex.github.io')
      +tooltip('Web version of this page')
        | qwhex.github.io

