ul
  li
    a(href='mailto:' + email)
      +tooltip('Email')
        | #{email}
  li
    +blanka('https://t.me/knockoutMice')
      +tooltip('Telegram')
        | knockoutMice
  li 
    +blanka('https://www.linkedin.com/in/mice-pápai/')
      +tooltip('LinkedIn')
        | linkedin.com/in/mice-pápai/
  li
    +blanka('https://github.com/qwhex/')
      +tooltip('GitHub')
        | github.com/qwhex

  li(class='print-only')
    a(href='https://qwhex.github.io')
      +tooltip('Web version of this page')
        | qwhex.github.io

