h3 University
ul
  li
    | SOTE, Pharmacology
    +tooltip(' (2015)')
      | Unfinished, because I started working as a freelance developer
  li
    | ELTE, Chemistry
    +tooltip(' (2014)')
      | Switched to SOTE a year later

h3 High School
h4 Szent László Gimnázium (2009-2014)
ul
  li Informatics (2012-2014)
  li Mass Communication (2009-2012)
