input#show-exam-results.show-exam-results(type='checkbox')
label(for='show-exam-results')
table.exam-results
  thead
    tr
      th(align='left') Subject
      th(align='left') Level
      th(align='right') %
      th(align='right') Grade
      th(align='right') Year
      th(align='left') Comment
  tbody
    tr
      td(align='left') Biology
      td(align='left') advanced
      td(align='right') 83
      td(align='right') 5
      td(align='right') 2015
      td(align='left') required for SOTE Pharmacology
    tr
      td(align='left') Informatics
      td(align='left') advanced
      td(align='right') 86
      td(align='right') 5
      td(align='right') 2014
      td(align='left') 100% verbal exam
    tr
      td(align='left') Chemistry
      td(align='left') advanced
      td(align='right') 68
      td(align='right') 5
      td(align='right') 2014
      td(align='left') required for ELTE Chemistry
    tr
      td(align='left') English
      td(align='left') basic
      td(align='right') 92
      td(align='right') 5
      td(align='right') 2014
      td(align='left') -
    tr
      td(align='left') Hungarian
      td(align='left') basic
      td(align='right') 91
      td(align='right') 5
      td(align='right') 2014
      td(align='left') -
    tr
      td(align='left') Mathematics
      td(align='left') basic
      td(align='right') 81
      td(align='right') 5
      td(align='right') 2014
      td(align='left') -
    tr
      td(align='left') History
      td(align='left') basic
      td(align='right') 65
      td(align='right') 4
      td(align='right') 2014
      td(align='left') -
