ul
  li Full-stack web development
  li Recommender systems
  li Chrome extensions
  li
    +tooltip('Machine learning')
      | decision trees, neural nets,
      br
      | natural language analysis
  li Data mining & visualization
  li
    +tooltip('REST APIs')
      | Facebook, Reddit, Tumblr, Twitter, Instagram,
      br
      | Ebay, Flickr, Last.fm, Google APIs
  li 
    +tooltip('Linux')
      | Debian, Arch