ul
  li Recommender systems
  li
    +tooltip('Machine learning')
      | decision trees, neural nets,
      br
      | natural language analysis
  li Data visualization / plots
  li Data mining / webscraping
  li Social network analysis
  li
    +tooltip('APIs')
      | Last.fm, Reddit, Tumblr, Steem, Ebay, Flickr,
      br
      | Twitter, Instagram, Facebook, Google APIs
  li Chrome extensions
  li Anki plugins
  li
    +tooltip('Project Euler')
      | 951254_jAI9nTAjpXMOjMVTxGduFdADtBtdw95q
