ul
  li Full-stack web development
  li Recommender systems
  li Chrome extensions
  li Data mining & visualization
  li Natural language processing
  li
    +tooltip('REST APIs')
      | Facebook, Reddit, Tumblr, Instagram,
      br
      | Ebay, Flickr, Last.fm, Google APIs
  li
    +tooltip('Machine learning')
      | genetic algorithms, neural nets