ul
  li
    +tooltip('Photography')
      +blanka('https://www.instagram.com/micepapai/')(style='color: white;')
        | Analog & Digital
  li Photomanipulation
  li Backpacking
  li Fine arts
  li Music