ul
  li
    +tooltip('Django')
      | & Django Rest Framework
  li Flask
  li React/Redux & Vue.js
  li Wordpress & Drupal
  li BeautifulSoup
  li Play with Slick 
  li PyTest, Hypothesis & PHPUnit
  li Pandas & Shapely
  li OpenCV

