ul
  li
    +tooltip('Django')
      | & Django Rest Framework
  li
    +tooltip('React')
      | & Redux
  li Flask
  li Wordpress & Drupal
  li 
    +tooltip('NLTK')
      | Natural Language Toolkit
  li BeautifulSoup
  li Hypothesis, Pytest
  li Selenium
  li OpenCV

