ul
  li Django, Flask and AIOHTTP
  li BeautifulSoup, Selenium
  li PyTest, Hypothesis and PHPUnit
  li Wordpress, Drupal
  li Pandas and Scikit-learn
  li Shapely, Fiona and Arcpy
  li OpenCV
  li Vue.js
