ul
  li
    +tooltip('Django')
      | & Django REST Framework
  li
    +tooltip('React')
      | + Redux, Jest and related tools
  li Flask
  li 
    +tooltip('NLTK')
      | Natural Language Toolkit
  li BeautifulSoup
  li Hypothesis, Pytest
  li Selenium
  li OpenCV

