h3 Proficient
ul
  li Python
  li 
    +tooltip('JavaScript')
      | ES6+
  li PHP
  li
    +tooltip('Git')
      | I know it's not a programming language

h3 Comfortable
ul
  li 
    +tooltip('Java')
      | Android
  li Rust
  li
    +tooltip('SQL')
      | PostgreSQL, MySQL
  li 
    +tooltip('CSS')
      | sass / HTML5

h3 Familiar
ul
  li Scala
  li C#
  li Elm
  li R
  
h3 Others
ul
  li 
    +tooltip('Photography')
      | Analog & Digital 
  li Photomanipulation
  li Adwords & Analytics
