h3 Proficient
ul
  li Python
  li Javascript
  li PHP
  li Git
  
h3 Comfortable
ul
  li
    +tooltip('SQL')
      | MySQL, PostgreSQL
  li 
    +tooltip('CSS')
      | sass / HTML5
  li 
    +tooltip('Java')
      | Android
  li Scala

h3 Familiar
ul
  li Rust
  li Elm
  li C#
  li C++
  
h3 Others
ul
  li 
    +tooltip('Photography')
      | Analog & Digital 
  li Photomanipulation
  li Vector graphics
  li Adwords & Analytics
