h3 Proficient
ul
  li
    +tooltip('Typescript')
      | and JavaScript/ES6+
  li
    +tooltip('CSS')
      | sass
  li Python
  li
    +tooltip('SQL')
      | PostgreSQL, MySQL
h3 Comfortable
ul
  li Elm
  li Rust
  li 
    +tooltip('Java')
      | Android
  li PHP

h3 Familiar
ul
  li Clojure
  li Scala
  li Nim
  li R
  
h3 Others
ul
  li
    +tooltip('Photography')
      +blanka('https://www.instagram.com/micepapai/')(style='color: white;')
        | Analog & Digital
  li Photomanipulation
  li
    +tooltip('Translation')
      +blanka('https://gengo.com/hire/profile/118722/')(style='color: white;')
        | English -> Hungarian
  li Adwords & Analytics
