h3 Proficient
ul
  li Python
  li Javascript
  li PHP
  li 
    +tooltip('Linux')
      | Debian, Arch
h3 Comfortable
ul
  li Git
  li
    +tooltip('SQL')
      | MySQL, PostgreSQL
  li 
    +tooltip('Sass')
      | CSS3 / HTML5
  li 
    +tooltip('Java')
      | Android
  li MacOS
h3 Familiar
ul
  li 
    +tooltip('Racket')
      | Scheme
  li R
  li C#
  li Nim
  li Windows
h3 Others
ul
  li 
    +tooltip('Photography')
      | Analog / Digital 
  li Photomanipulation
  li Vector graphics
  li Adwords / Adsense / Analytics
  li Pharmacology
