h3 Proficient
ul
  li 
    +tooltip('JavaScript')
      | ES6+
  li Python
  li PHP
  li 
    +tooltip('CSS')
      | sass 

h3 Comfortable
ul
  li
    +tooltip('SQL')
      | PostgreSQL, MySQL
  li Rust
  li Elm
  li 
    +tooltip('Java')
      | Android

h3 Familiar
ul
  li Scala
  li C#
  li Nim
  li R
  
h3 Others
ul
  li 
    +tooltip('Translation')
      +blanka('https://gengo.com/hire/profile/118722/')(style='color: white;')
        | English -> Hungarian
  li 
    +tooltip('Photography')
      | Analog & Digital 
  li Photomanipulation
  li Adwords & Analytics
