ul.work
  li 
    +job('Vacuumlabs (2019-)', 'Node/React Full-Stack Developer', 'vacuum')
      | bububu bibbibababi

  li 
    +job('RoadRecord (2018-2019)', 'Python Backend Developer', 'roadrecord')
      | lorem ipsum
  li 
    +job('Endless Flux Labs (2018)', 'PHP/JS Full-Stack Developer', 'endlessflux')
      | lorem ipsum
  li 
    +job('Freelance projects (2015-2018)', 'Short projects in Python, Java and R', 'freelance')
      | lorem
      br
      | ipsum
